body {
        font-family: 'Montserrat', sans-serif;
    }

    .navbar {
        background-color: #0d2b57 !important;
        padding-top: 18px;
        padding-bottom: 18px;
    }

    .navbar-brand {
        font-weight: 800;
        font-size: 28px;
        letter-spacing: 2px;
        color: #f5c542 !important;
    }

    .nav-link {
        color: #ffffff !important;
        font-weight: 600;
        margin-right: 25px;
        letter-spacing: 1px;
    }

    .nav-link:hover {
        color: #f5c542 !important;
    }


    .btn-contacto {
        background: transparent;
        border: 2px solid #f5c542;
        color: #f5c542;
        padding: 8px 22px;
        border-radius: 12px;
        font-weight: 700;
    }

    .btn-contacto:hover {
        background: #f5c542;
        color: #0d2b57;
    }

    
    .hero {
         background: url('/public/images/industrial.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 90vh;
        position: relative;
        display: flex;
        align-items: center;
        color: white;
    }


    .hero::before {
        content: "";
        position: absolute;
        inset: 0;
        background: rgba(0,0,0,0.55);
    }

    .hero-content {
        position: relative;
    }

    .hero h1 {
        font-size: 5rem;
        font-weight: 900;
        line-height: 1.1;
        letter-spacing: 3px;
        text-shadow: 0px 4px 20px rgba(0,0,0,0.6);
    }

    @media (max-width: 992px) {
        .hero h1 {
            font-size: 3rem;
        }
    }

    .hero p {
        font-size: 1.6rem;
        margin-top: 25px;
        text-shadow: 0px 2px 10px rgba(0,0,0,0.6);
    }

    .btn-hero-yellow {
        background-color: #f5c542;
        color: #0d2b57;
        border-radius: 14px;
        padding: 14px 40px;
        font-weight: 700;
        border: none;
    }

    .btn-hero-blue {
        background-color: #1c3f73;
        border: none;
        border-radius: 14px;
        padding: 14px 40px;
        font-weight: 700;
        color: white;
    }

    .btn-hero-blue:hover {
        background-color: #16325e;
    }
